<h2 class="cabecera">Tu Carrito</h2>
<div *ngIf="items.length > 0; else carritoVacio">
  <div class="carrito-item" *ngFor="let item of items" (click)="onEliminar(item.distancia)">
    <img [src]="item.distancia.imagenDistancia" alt="{{ item.distancia.titulo }}">
    <div>
      <p>{{ item.distancia.titulo }}</p>
      <p>Monto: {{ item.distancia.precio * item.contador | currency }}</p>
      <p>Cantidad: {{ item.contador }}</p>
    </div>
  </div>

  <h3>Total de inscripciones en el carrito: {{ carritoService.getTotalItem() }}</h3>
  <app-pago *ngIf="autenticacionService.estaLogueado(); else templateNoInicioSesion"
            [montoTotal]="carritoService.getTotalPrecio()" (pagoRealizado)="onPagoRealizado()"></app-pago>
  <ng-template #templateNoInicioSesion>
    <p>Iniciá sesión para realizar el pago</p>
  </ng-template>
</div>

<ng-template #carritoVacio>
  <h3>Todavía no agregaste una carrera</h3>
</ng-template>
