<div class="iniciar-sesion-container">
  <!-- Binding de propiedades que se utiliza para unir el formulario a su grupo de control correspondiente. -->
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="mail">Correo electrónico</label>
      <input type="email" id="mail" class="form-control" formControlName="mail" required>
    </div>
    <div class="form-group">
      <label for="contrasena">Contraseña</label>
      <input type="password" id="contrasena" class="form-control" formControlName="contrasena" required>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onIniciar()">Iniciar sesión</button>
    <button type="button" class="btn btn-secondary" (click)="onRegistrar()">Registrarse</button>
  </form>
</div>
