/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #333;
  --primary-color: #ced4da;
  --secondary-color: #abcdef;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + * {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
  color: #333
}

h2 {
  font-size: 20px;
  color: #333
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: #ececec;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

app-encabezado {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ececec;
  color: black;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  margin-top: 10px;
}

app-encabezado h1 {
  color: #333;
  margin: 0;
}

app-encabezado a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

app-encabezado a:hover {
  color: var(--secondary-color);
}

app-pie-pagina {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ececec;
  color: black;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

app-pie-pagina a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

app-pie-pagina a:hover {
  color: var(--secondary-color);
}

/* Checkout Carrito */
