<a [routerLink]="['/']">
  <h1>Maratón</h1>
</a>

<div class="botones-container">
  <div class="inicioSesion-container">
    <a *ngIf="auth.estaLogueado() ; else sesionCerrada" class="button fancy-button" (click)="cerrarSesion()">
      <div>
        <em class="material-icons">person</em>
        <span> Cerrar sesión</span>
      </div>
    </a>

    <ng-template #sesionCerrada>
      <a routerLink="/inicio-sesion" class="button fancy-button">
        <div>
          <em class="material-icons">person</em>
          <span> Iniciar sesión</span>
        </div>
      </a>
    </ng-template>
  </div>

  <div class="carrito-container">
    <!-- Botón de carrito de compras -->
    <a [routerLink]="['/carrito']" class="button fancy-button">
      <em class="material-icons">shopping_cart</em>
    </a>
  </div>
</div>
