.logo {
  height: 75px;
  width: auto;
  margin-right: 10px;
  margin-left: 20px;
}

.carrito-container {
  margin-left: auto;
}

.inicioSesion-container {
  margin-left: auto;
  margin-right: 10px;
}

.botones-container {
  display: flex;
  margin-left: auto;
}

.carrito-logo {
  position: relative;
  display: inline-block;
}

.carrito-contador {
  font-size: 0.7em;
  color: #ffffff;
  background-color: #ee3b78;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: center;
}
