.logo {
  height: 75px;
  width: auto;
  margin-right: 10px;
}

.carrito-container {
  margin-left: auto;
}

.inicioSesion-container {
  margin-left: auto;
  margin-right: 10px;
}

.botones-container {
  display: flex;
  margin-left: auto;
}

