<a [routerLink]="['/']">
  <img class="logo" ngSrc="assets/imagenes/logo.png" height="291" width="1000" alt="">
</a>
<div class="botones-container">
  <div class="inicioSesion-container">
    <a *ngIf="auth.estaLogueado() ; else sesionCerrada" class="button fancy-button" (click)="cerrarSesion()">
      <div>
        <em class="material-icons">person</em>
        <span> Cerrar sesión</span>
      </div>
    </a>

    <ng-template #sesionCerrada>
      <a routerLink="/inicio-sesion" class="button fancy-button">
        <div>
          <em class="material-icons">person</em>
          <span> Iniciar sesión</span>
        </div>
      </a>
    </ng-template>
  </div>

  <div class="carrito-container">
    <a [routerLink]="['/carrito']" class="button fancy-button">
      <div class="carrito-logo">
        <em class="material-icons">shopping_cart</em>
        <span class="carrito-contador">{{ carrito.getTotalItem() }}</span>
      </div>
    </a>
  </div>
</div>
